
.right {
    text-align: right;
}

.pinkie {
    background-color: pink;
}


#my-paragraph {
    border-top: 2px dashed red;
    border-right: 2px solid green;
    border-bottom: 2px dotted yellow;
    border-left: 2px solid red;
}



.groceries {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

.center {
    text-align: center;
}

.box {
    border: 20px solid black;
    padding: 15px;
    margin-right: 0;
    margin-left: auto;
    width: 50%;
}