#america {
	text-align: right;
}

.right {
	text-align: right;
	background-color: red;
}
.center {
	text-align: center;
	background-color: green;
}
.left {
	text-align: left;
}

.centered {
	border: 1px solid red;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}


.right {
	color: red; 
	font-weight:bold;
}


.kim-jong-un {
	font-size: 200%;
	text-decoration: underline;
	display: block;
}

li {
	padding: 20px;
	border: 1px solid black;
}

a:link {
	color: red;
	text-decoration: none;
}
a:visited {
	color: red;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: blue;
}

























/*a:link { color: blue; text-decoration: underline; }
a:visited { color: blue; }
a:hover { color: red; text-decoration: overline; }
a:active: { color: red; }

.right {
    text-align: right;
}

.kim-jong-un {
    font-size: 150%;
}*/