/*
Dark Purple #5b3c83 
Light Purple #b2abcb
Blue #788fc3 
Green #425f74
Tan  #a79b9c
Pink #f05b62
Black #000000
White #FFFFFF
*/


body {
    color: #333; 
    font-family: helvetica, arial, sans-serif;
    padding-top: 70px;
    font-family: 'PT Sans Narrow', sans-serif;
}
p {
    line-height: 20px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #fafafa;
    border-bottom: 2px solid #ccc;
    height: 70px;
    width: 100%;
}
nav ul {
    float: right;
}
nav li {
    float: left;
    width: auto;
}
nav li a {
    padding: 25px 10px;
    display: block;
    text-decoration: none;
    color: #333;
}
nav li a:hover {
    background: #e5e5e5;
}
#brand {
    text-indent: -9000px;
   /* background: url(http://www.placehold.it/100/100) no-repeat top left; */
    height: 45px;
    width: 45px;
    float: left;
    margin: 10px;

} 

.container {
    width: 1024px; 
    margin: 0 auto;
}

.cursive{
    font-family: 'Pacifico', cursive;
}

#hero {
    background: url(../images/purple-hero.png) no-repeat bottom left;
    text-align: center;
    color: #fafafa;
    background-size: cover;
    height: 350px;
    padding: 25px 0;
}

#hero img {
    width: 150px; 
    border-radius: 50%;
    margin-top: 30px;
}
#hero h2 {
    font-size: 400%;
    margin: 10px;
}
#hero span {
    border: 2px solid white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 150%;
}
#main-content{
    text-align: center;
    padding: 25px 0;
    overflow: hidden;
}
#main-content h3{
    font-size: 250%;
    margin: 20px 0;
}
#main-content h4{
    font-size: 150%;
    margin: 10px 0;
}

#main-content p{
   padding: 5px;
}

p a:link{
    text-decoration: none;
    color: #b06ab9;
    border-bottom: 1px solid #b06ab9;
}
p a:visited{
    color: #b2abcb;
    border-bottom: 1px solid #b2abcb;
}
p a:hover{
    cursor: pointer;
    border-bottom: none;
    background-color: #5b3c83;
    color: #FFF;

}
p a:active{
    background-color: #b06ab9;

} 


.column {
    float: left;
    width: 30%;
    padding: 15px;
}
.column img {
    width: 70%;
    max-width:70%;
    border-radius: 50%;
    /* border: 5px solid #57BEC5; */ 
    margin-bottom: 20px;
}
.column h4 {
    color: #b2abcb;
    font-size: 150%;
    margin-bottom: 15px;
}

.column .btn {
   border: 2px solid #b2abcb;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 150%;
    text-decoration: none;
    color: #b2abcb;
}

.column .btn:hover{
    background-color: #425f74; /* #5b3c83 */
    color: white;
}

#social {
    background: #5b3c83;
    color: #fafafa;
    padding: 25px 0;
    overflow: hidden;
}
#social ul {
    width: 5200px;
    margin: 0 auto;
}
#social li {
    float: left;
    width: auto;
    padding: 20px;
}

.text-wall{
    text-align: left;
}

.contact-form td{
    padding: 5px;
}








