body {
	background-color: #f05b62;
	font-family: 'PT Sans Narrow', sans-serif;
}

.container {
	width: 75%;
	margin: auto auto;
	padding: 5%;
	background-color: rgba(255,255,255,.7);
	border-radius: 20px;
}

li {
	font-size: 120%;
}

.gdi-logo{
	float: left;
	width: 140px;
	padding: 20px;
}

.bill {
	margin: auto auto;
	display: block;
	width: 400px;
	border: 3px solid black;
	border-radius: 20px;
}

h1 {
	color: #f05b62;
}

h2 {
	color: #f05b62;
}